<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yogiting.api.post.mapper.PostAttachmentMapper">

    <insert id="createAttachment" parameterType="java.util.List">
        INSERT INTO post_attachments (post_id, original_filename, stored_filename, file_url, file_size, content_type)
        VALUES
            <foreach collection="list" item="file" separator=",">
                (#{file.postId}, #{file.originalFilename}, #{file.storedFilename}, #{file.fileUrl}, #{file.fileSize}, #{file.contentType})
            </foreach>
    </insert>

    <delete id="deleteAttachment" parameterType="java.util.List">
        DELETE FROM post_attachments
        WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getAttachment">
        SELECT stored_filename FROM post_attachments WHERE post_id = #{postId}
    </select>
</mapper>